@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,700&display=swap");
.app .carta .div-do-select {
  display: grid;
}

// Botoes
.botoes{
  position: fixed;
  right: 0;
  top: 50%;
  .btn{
    border-radius: 0px
  }
  .btn-add, .btn-print{
    color: white;
    display: block;
    width: 100%;
  }
  .btn-add{
    background-color: #f44242;
  }
  .btn-print{
    background-color: #19d639;
  }
}
.app .carta .div-do-select .select-image {
  display: table-caption;
  text-align: center;
  border: none;
  background-color: #1f70c1;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
.app .carta .div-do-select .select-image::-ms-expand {
  display: none;
}
.app .carta .div-do-select .imagem-selecionada {
  border-radius: 50%;
  margin-top: 10px;
  position: relative;
  float: left;
  width: 200px;
  height: 200px;
}
.app .carta #nomeFuncionario, .app .carta #nomePadrinho {
  letter-spacing: 4px;
  margin-bottom: 3px;
  text-transform: uppercase;
  white-space: nowrap;
}
.app .carta #nomeFuncionario {
  font-size: 20px;
}
.app .carta #nomePadrinho {
  font-size: 18px;
}
.app .carta--azul .form-control {
  background-color: #1f70c1;
  border: none;
  color: white;
  padding: 0px;
}
.app .carta--azul .form-control::placeholder {
  color: white;
}
.app .carta--branca .form-control {
  background-color: white;
  border: none;
}

.app {
  margin: auto;
  width: 80%;
  border: solid 1px gray;
}
.app .footer {
  padding: 40px 0px 40px 0px;
  text-align: center;
}
.app .footer .font {
  font-family: "IBM Plex Serif", serif;
  text-transform: uppercase;
}
.app .footer--azul {
  background-color: #1f70c1;
}
.app .footer--azul .font--azul {
  color: #ffffff;
}
.app .footer--branco {
  background-color: #ffffff;
}
.app .footer--branco .font--branco {
  color: #1f70c1;
}
.app .cabecalho {
  background-color: #1f70c1;
  padding: 40px 0px 40px 0px;
  text-align: center;
}
.app .cabecalho h1 {
  color: white;
  font-family: "IBM Plex Serif", serif;
  text-transform: uppercase;
}
.app .logo {
  display: flex;
  padding: 25px 0px 25px 0px;
}
.app .logo img {
  height: 50px;
}
.app .logo .sicredi {
  flex: 1;
  padding-left: 15px;
  text-align: left;
}
.app .logo .ibm {
  flex: 1;
  padding-right: 15px;
  text-align: right;
}
.app .carta {
  display: flex;
}
.app .carta .informacoes {
  flex: 1;
  padding: 10px 15px 10px 15px;
}
.app .carta .informacoes .nome, .app .carta .informacoes .padrinho {
  letter-spacing: 4px;
  text-transform: uppercase;
  white-space: nowrap;
}
.app .carta .informacoes .nome {
  font-size: 20px;
}
.app .carta .informacoes .padrinho {
  font-size: 18px;
}
.app .carta .informacoes .scrum {
  margin-top: 20px;
}
.app .carta .foto {
  flex: 1;
  text-align: center;
}
.app .carta .foto .perfil {
  padding: 10px 15px 10px 15px;
  text-align: center;
  width: 50%;
  display: inline-block;
  margin-right: 15px;
}
.app .carta .foto .perfil .hideinput {
  display: none;
}
.app .carta .foto .perfil img {
  border-radius: 50%;
  position: relative;
  float: left;
  object-fit: cover;
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.app .carta--azul {
  background-color: #1f70c1;
  color: white;
}
.app .carta--branca {
  background-color: white;
  color: black;
}

/*# sourceMappingURL=index.scss.map */
