.botoes {
  position: fixed;
  right: 0;
  top: 50%;
}
.botoes .btn {
  border-radius: 0px;
}
.botoes .btn-add, .botoes .btn-print, .botoes .btn-toggle {
  color: white;
  display: block;
  width: 100%;
}
.botoes .btn-add {
  background-color: #f44242;
}
.botoes .btn-print {
  background-color: #19d639;
}
.botoes .btn-toggle {
  background-color: #2c2c2c;
}

.app .carta .div-do-select {
  display: grid;
}
.app .carta .div-do-select .text-styling {
  font-family: "Roboto", sans-serif;
  display: table-caption;
  cursor: pointer;
  text-align: center;
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
.app .carta .div-do-select .text-styling::-ms-expand {
  display: none;
}
.app .carta .div-do-select .select-image--azul {
  background-color: #7a838c;
  color: white;
}
.app .carta .div-do-select .select-image--branco {
  background-color: #efefef;
  color: #495057;
}
.app .carta .div-do-select .imagem-selecionada {
  padding: 12px 0px 0px 0px;
  border-radius: 25%;
  position: relative;
  float: left;
  width: 200px;
  height: 200px;
}
.app .carta #nomeFuncionario, .app .carta #nomePadrinho {
  margin-bottom: 3px;
  white-space: nowrap;
}
.app .carta #nomeFuncionario {
  font-size: 24px;
}
.app .carta #nomePadrinho {
  font-size: 18px;
}
.app .carta--azul .form-control {
  background-color: #7a838c;
  border: none;
  color: white;
  padding: 0px;
  font-weight: 500;
}
.app .carta--azul .form-control::placeholder {
  color: white;
}
.app .carta--branca .form-control {
  background-color: #efefef;
  border: none;
  font-weight: 500;
}

.app {
  margin: auto;
  width: 80%;
  border: solid 1px gray;
}
.app .footer {
  padding: 40px 0px 40px 0px;
  text-align: center;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #1f70c1, #28a745);
  color: #ffffff;
}
.app .cabecalho {
  background-image: linear-gradient(to right, #28a745, #1f70c1);
  padding: 40px 0px 40px 0px;
  text-align: center;
}
.app .cabecalho h1 {
  color: white;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
}
.app .logo {
  display: flex;
  padding: 25px 0px 25px 0px;
  background-color: #F7F7F7;
}
.app .logo img {
  height: 50px;
}
.app .logo .sicredi {
  flex: 1;
  padding-left: 15px;
  text-align: left;
}
.app .logo .ibm {
  flex: 1;
  padding-right: 15px;
  text-align: right;
}
.app .carta {
  display: flex;
}
.app .carta .informacoes {
  flex: 1;
  padding: 10px 15px 10px 15px;
  font-family: "Roboto", sans-serif;
}
.app .carta .informacoes .nome, .app .carta .informacoes .padrinho {
  letter-spacing: 4px;
  white-space: nowrap;
}
.app .carta .informacoes .nome {
  font-size: 24px;
}
.app .carta .informacoes .padrinho {
  font-size: 18px;
}
.app .carta .informacoes .scrum {
  margin-top: 20px;
}
.app .carta .foto {
  flex: 1;
  text-align: center;
}
.app .carta .foto .perfil {
  padding: 10px 15px 10px 15px;
  text-align: center;
  width: 50%;
  display: inline-block;
  margin-right: 15px;
}
.app .carta .foto .perfil .hideinput {
  display: none;
}
.app .carta .foto .perfil img {
  opacity: 1;
  border-radius: 25%;
  position: relative;
  float: left;
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.app .carta .foto .perfil img:hover {
  opacity: 0.6;
}
.app .carta--azul {
  background-color: #7a838c;
}
.app .carta--branca {
  background-color: #efefef;
  color: black;
}

/*# sourceMappingURL=index.scss.map */
