// Cartas

$card-hf-font: 'Roboto Slab'
$card-hf-font-type: serif
$card-strong-color: #a1aab3
$card-light-color: #efefef

.botoes
    position: fixed
    left: 0
    top: 35%
    & .btn
        border-radius: 0px
    & .btn-add, & .btn-print, & .btn-toggle, & .btn-remove
        color: white
        display: block
        width: 100%
    & .btn-add
        background-color: #6486ad
    & .btn-remove
        background-color: #f44242
    & .btn-print
        background-color: #19d639
    & .btn-toggle
        background-color: #2c2c2c
    
.app-bd
    background-image: linear-gradient(to right, #c4daff, #e8edf4)
    width: 100%
    border: 1px gray solid
    & .app-bd-balloon
        background-image: url("./images/balao.png")   
        background-repeat: no-repeat
        & .app-bd-confetti
            background-image: url("./images/confettipng.png")   
            background-repeat: repeat 
            & .confetti-top
                text-align: center
                & h1
                    margin-top: 10px
                    font-family: 'Merienda', cursive
                    text-align: center
                    font-size: 70px
                    color: #2e4263
                    text-shadow: 2px 4px #e8e8e8
                    
                & .input-date-bd
                    background: none
                    text-align: center
                    font-size: 30px
                    width: 100%
                    font-family: 'Source Sans Pro', sans-serif
                    border: none
                    color: #2e4263
                    text-shadow: 2px 2px #e8e8e8
                    font-weight: 600
                    &::placeholder
                        opacity: 0.9
        
            & .card-list-bd
                margin: 20px
                align-items: center
                text-align: center
            & .card-bd
                margin-top: 15px
                & .margin-bd-date
                    margin-left: 15px
                    & .card-bd-date-input
                        background: none
                        cursor: pointer
                        border: none
                        align-content: center
                        font-family: 'Roboto Mono', monospace 
                        font-weight: 500
                        text-shadow: 1px 1px white
                        text-align: center
                        width: 100%
                            
                & .card-bd-name-input ,& .card-bd-place-input
                    background: none
                    border: none
                    width: 100%
                    text-align: center
                    font-family: 'Roboto Mono', monospace
                    font-weight: 500
                    text-shadow: 1px 1px white
                    resize: none
                    overflow: auto
                    height: 24px

                & .hideinput
                    display: none
                & .card-bd-img
                    border-radius: 50%
                    border: 1px solid gray
                    width: 150px
                    height: 150px
                    cursor: pointer
                    &:hover
                        opacity: 0.7
                    
            & .footer-bd
                margin-top: 20px
                margin-bottom: 15px
                text-align: right
                height: 100px
                & img
                    height: 100%
                

.app
    & .carta
        & .div-do-select
            display: grid
            text-align-last: center
            margin-right: -50px
            padding-left: 100px
            & .selected-place
                text-align: center
                max-height: 35px
                max-width: 150px
                margin-top: 15px
                margin-bottom: -10px
            & .text-styling
                font-family: 'Roboto', sans-serif
                display: table-caption
                cursor: pointer
                text-align: center
                cursor: pointer
                border: none
                -webkit-appearance: none
                -moz-appearance: none
                text-indent: 1px
                text-overflow: ''
                &::-ms-expand 
                    display: none
            & .select-image--azul
                background-color: $card-strong-color
                color: white      
            & .select-image--branco
                background-color: $card-light-color
                color: #495057
            & .imagem-selecionada
                margin: 10% 0px 0px 0px
                border-radius: 25%
                position: relative
                float: left
                width:  150px
                height: 150px
            
        & #nomeFuncionario, & #nomePadrinho
            margin-bottom: 3px
            white-space: nowrap
        & #nomeFuncionario
            font-size: 24px
        & #nomePadrinho
            font-size: 18px
    & .carta--azul
        & .form-control
            background-color: $card-strong-color
            border: none
            color: white
            padding: 0px
            font-weight: 500
            &::placeholder
                color: white
        & .form-control-hover
            border: 2px solid white
    & .carta--branca
        & .form-control
            background-color: $card-light-color
            border: none
            font-weight: 500
        & .form-control-hover
            border: 2px solid gray
            
.app
    margin: auto
    width: 80%
    border: solid 1px gray
    & .footer
        padding: 40px 0px 40px 0px
        text-align: center
        font-family: $card-hf-font, $card-hf-font-type
        text-transform: uppercase
        background-image: linear-gradient(to right, #1f70c1, #a1beed)
        color: #ffffff
    & .cabecalho
        background-image: linear-gradient(to right, #a1beed, #1f70c1)
        padding: 40px 0px 40px 0px
        text-align: center
        & h1
            color: white
            font-family: $card-hf-font, $card-hf-font-type
            text-transform: uppercase
    & .logo
        display: flex
        padding: 25px 0px 25px 0px
        background-color: #F7F7F7
        & img
            height: 50px
        & .ibm
            flex: 1
            padding-right: 15px
            text-align: center

    & .carta
        display: flex
        & .informacoes
            flex: 1
            padding: 10px 15px 10px 15px
            font-family: 'Roboto', sans-serif
            & .nome, & .padrinho
                letter-spacing: 4px
                white-space: nowrap
            & .nome
                font-size: 24px
            & .padrinho
                font-size: 18px
            & .scrum
                margin-top: 20px
        & .perfil
            text-align: center
            margin-top: 25px
            margin-left: 30px
            margin-right: -30px
            display: inline-block
            flex: 1
            & .hideinput
                display: none
            & .avatar-editor
                opacity: 1
                border-radius: 25%
                position: relative
                float: left
                width:  200px
                height: 200px
                cursor: pointer
                &:hover 
                    opacity: 0.6
                    
    & .carta--azul
        background-color: $card-strong-color
    & .carta--branca
        background-color: $card-light-color
        color: black
